html, body {

    background: #212121;
}

hr {
    color: #aaaaaa;
}

#top, #bottom, #left, #right {
    background: #ffb347;
    position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 0.35em;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 0.35em;
}
#top { top: 0;}
#bottom { bottom: 0; }

.header {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding-top: 0.3em;
    padding-left: 1%;
    font-size: 1.7em;
    text-align: center;
    color: #ffffff;
}

.button {
    padding: 0.5em;
    text-align: center;
    font-size: 1.3em;
    color: #ffffff;
    cursor: pointer;
}

.button_return {
    position: absolute;
    justify-content: left;
    padding-top: 0.3em;
    margin: 10px;
    color: #ffffff;
    cursor: pointer;
}

.option:hover {
    background-color: #3d3d3d;
}
